.shimmer-loader {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;
  width: 200px
}

.shimmer-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
                  90deg,
                  rgba(224, 224, 224, 0) 0%,
                  rgba(245, 245, 245, 0.9) 50%,
                  rgba(224, 224, 224, 0) 100%
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
