.icon-core-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 100%;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  flex-shrink: 0;
}