.graph-connection-container{
  width: 80%;
  margin:24px auto;
  padding: 12px 16px;
  border: 1px solid #D7D8DD;
  min-height: 52px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  flex-wrap:wrap;
   }