//.selected-graph-node-container {
//  width: fit-content;
//  //border: 1px solid #D7D8DD;
//  height: 28px;
//  display: flex;
//  align-items: center;
//  border-radius: 6px;
//  cursor:pointer;
//  position:relative;
//
//
//  .graph-node-badge-content{
//    height:100%;
//    //padding: 0px 8px;
//    //border-right: 1px solid #D7D8DD;
//    display: flex;
//    flex-wrap: wrap;
//    //justify-content: center;
//    align-items: center;
//    &.is-empty{
//      width:216px;
//      justify-content: flex-start;
//    }
//    .badge-container{
//      height: 20px;
//    }
//  }
//  //.node-chip-dropdown{
//  //  position:absolute;
//  //  top:30px ;
//  //}
//
//}